svg {
  font: 10px sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.xbrush {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
/*svg {
  font: 10px sans-serif;
}

.area {
  fill: lightgray;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
  clip-path: url(#clip);
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.ui-slider-horizontal .ui-slider-range {
    background-color: #97ce00;
}
.ui-slider-control-plus, .ui-slider-control-minus {
    width: 26px;
    height: 26px;
    position: absolute;
    z-index: 99;
    margin: -7px 0 0 -13px;
    border: 1px solid #d3d3d3;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background: #97ce00;
    line-height:26px;
}
.ui-slider-control-plus:after, .ui-slider-control-minus:after {
    position:absolute;
    width:26px;
    height:26px;
    color:#fff;
    text-align:center;
    right:1px;
    top:-2px;
    line-height:26px;
    font-size:26px;
}
.ui-slider-control-plus:after {
    content:"+";
}
.ui-slider-control-minus:after {
    content:"-";
}
.ui-slider-control-minus, .ui-slider-control-plus, .ui-slider-handle {
    cursor: pointer;
}
.ui-slider-handle.arrow-left, .ui-slider-handle.arrow-right {
    width: 0;
    height: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.ui-slider-handle.arrow-left {
    margin-left: -16px;
    border-top: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;
    border-right: 0.8em solid #e6e6e6;
}
.ui-slider-handle.arrow-right {
    margin-left: 0px;
    border-top: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;
    border-left: 0.8em solid #e6e6e6;
}*/